.parties-page {
    background-color: rgba(255, 255, 255, 1); /* Page background color */
    display: flex;
    justify-content: center; /* Center the box horizontally */
    align-items: center; /* Center the box vertically */
    height: 80vh; /* Full viewport height */
    padding: 50px;
    box-sizing: border-box;
  }
  
  .parties-box {
    background-color: rgba(255, 252, 246, 1); /* Box background color */
    width: 1400px; /* Square box width */
    height: 450px; /* Square box height */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 30px; /* Padding inside the box */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .parties-header {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 30px;
  }
  
  .parties-title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color:rgba(111, 108, 108, 1)!important;
    margin-top: -182px;

  }
  .parties-card{
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgba(57, 188, 12, 1);
    width: 850px;
    height: 180px; 
    padding: 30px;
    color: rgba(111, 108, 108, 1);
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    padding-top: 2px;
  }
  .prt-gst-text-box {
    background: #39BC0C;
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    width: 120px;
    height: 26px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
    
  }
  .prt-gst-text{
    font-size: 15px;
    margin-left: 28px;  
  }
  
  